@charset "utf-8";


.c-texty_autocomplete--emoji .c-texty_autocomplete__result--selected {
    height: 150px !important;
 }

.c-texty_autocomplete--emoji .c-texty_autocomplete__result {
  height: 100px;
}

.c-texty_autocomplete--emoji .c-texty_autocomplete__result_emoji {
  width: auto !important;
  height: 100% !important;
}

.c-texty_autocomplete {
  max-height: 500px !important;
}

/* カスタム絵文字アイコンの場合，表示サイズを倍にする */
.c-message_attachment__image_container[style="width: 128px;"] {
  width: 256px !important;
}
